<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>RepAreaSoftware</servlet-name>
        <jsp-file>/jsp/RepAreaSoftware.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ReporteSoftDisp</servlet-name>
        <jsp-file>/jsp/ReporteSoftDisp.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UsuSoft</servlet-name>
        <jsp-file>/jsp/UsuSoft.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ExcelOC</servlet-name>
        <jsp-file>/jsp/ExcelOC.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RepOrdenCompra</servlet-name>
        <jsp-file>/jsp/RepOrdenCompra.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VerificarSerial</servlet-name>
        <jsp-file>/jsp/VerificarSerial.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConSerialRedirOC</servlet-name>
        <servlet-class>www.ConSerialRedirOC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarRespSalon</servlet-name>
        <servlet-class>www.ActualizarRespSalon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponsableSalon</servlet-name>
        <jsp-file>/jsp/ResponsableSalon.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EliminarSoftUsu</servlet-name>
        <servlet-class>www.EliminarSoftUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepAreaSoft</servlet-name>
        <jsp-file>/jsp/RepAreaSoft.jsp</jsp-file>
    </servlet>    
    <servlet>
        <servlet-name>ReporteLicArea</servlet-name>
        <jsp-file>/jsp/ReporteLicArea.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ReporteLicSof</servlet-name>
        <jsp-file>/jsp/ReporteLicSof.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreaRenovacion</servlet-name>
        <servlet-class>www.CreaRenovacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarLicSoft</servlet-name>
        <servlet-class>www.EliminarLicSoft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarLicSoft</servlet-name>
        <jsp-file>/jsp/EditarLicSoft.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ActualizarLicSoft</servlet-name>
        <servlet-class>www.ActualizarLicSoft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaLicSoft</servlet-name>
        <servlet-class>www.CreaLicSoft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLicSoftware</servlet-name>
        <jsp-file>/jsp/AddLicSoftware.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ExportarArea</servlet-name>
        <jsp-file>/jsp/ExportarArea.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Exportar</servlet-name>
        <jsp-file>/jsp/ExportarExcel.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ExportarInv</servlet-name>
        <jsp-file>/jsp/ExportarInv.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Inicio.inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddEquipo</servlet-name>
        <jsp-file>jsp/AddEquipo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RepInventario</servlet-name>
        <jsp-file>jsp/RepInventario.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConUser</servlet-name>
        <jsp-file>jsp/ConUser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ActInvent</servlet-name>
        <jsp-file>jsp/ActInvent.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VerAprobar</servlet-name>
        <jsp-file>jsp/VerAprobar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PortalOsiris</servlet-name>
        <jsp-file>/jsp/portal.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Editar_Horario</servlet-name>
        <jsp-file>/jsp/Editar_Horario.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Solicitud</servlet-name>
        <jsp-file>/jsp/Solicitud.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Consultar</servlet-name>
        <jsp-file>/jsp/Consultar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Horarios</servlet-name>
        <jsp-file>/jsp/Horarios.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Tramitar</servlet-name>
        <jsp-file>/jsp/Tramitar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Historial</servlet-name>
        <jsp-file>/jsp/Historial.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Reportes</servlet-name>
        <jsp-file>/jsp/Reportes.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ReporteServiciosTiempo</servlet-name>
        <jsp-file>/jsp/ReporteServiciosTiempo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Detalle</servlet-name>
        <jsp-file>/jsp/Detalle.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Inicio.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaRegis</servlet-name>
        <servlet-class>www.CreaRegis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>correcto</servlet-name>
        <jsp-file>/jsp/correcto.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ActualizaSol</servlet-name>
        <servlet-class>www.ActualizaSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consulta_Asign</servlet-name>
        <jsp-file>/jsp/Consulta_Asign.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Consulta_Solic</servlet-name>
        <jsp-file>/jsp/Consulta_Solic.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Consulta_Usuario</servlet-name>
        <jsp-file>/jsp/Consulta_Usuario.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Administrar</servlet-name>
        <jsp-file>/jsp/Administrar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Administrar_Sol</servlet-name>
        <servlet-class>www.Administrar_Sol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaUsuario</servlet-name>
        <servlet-class>www.ActualizaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaEquipo</servlet-name>
        <servlet-class>www.CreaEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaMarcaAJ</servlet-name>
        <servlet-class>www.ConsultaMarcaAJ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaEquipo</servlet-name>
        <servlet-class>www.ActualizaEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaCaractAJ</servlet-name>
        <servlet-class>www.ConsultaCaractAJ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaVersionSoft</servlet-name>
        <servlet-class>www.ConsultaVersionSoft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoSoftHard</servlet-name>
        <servlet-class>www.NuevoSoftHard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaResponsable</servlet-name>
        <servlet-class>www.ActualizaResponsable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarEquipo</servlet-name>
        <servlet-class>www.AprobarEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCaract</servlet-name>
        <servlet-class>www.EliminarCaract</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarProc</servlet-name>
        <servlet-class>www.IniciarProc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraMantenimiento</servlet-name>
        <servlet-class>www.RegistraMantenimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConSerialRedir</servlet-name>
        <servlet-class>www.ConSerialRedir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegNovedad</servlet-name>
        <servlet-class>www.RegNovedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaSoftware</servlet-name>
        <servlet-class>www.ConsultaSoftware</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReporteSoftDisp</servlet-name>
        <url-pattern>/ReporteSoftDisp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuSoft</servlet-name>
        <url-pattern>/UsuSoft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelOC</servlet-name>
        <url-pattern>/ExcelOC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepOrdenCompra</servlet-name>
        <url-pattern>/RepOrdenCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConSerialRedirOC</servlet-name>
        <url-pattern>/ConSerialRedirOC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarSerial</servlet-name>
        <url-pattern>/VerificarSerial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarRespSalon</servlet-name>
        <url-pattern>/ActualizarRespSalon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponsableSalon</servlet-name>
        <url-pattern>/ResponsableSalon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSoftUsu</servlet-name>
        <url-pattern>/EliminarSoftUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaRenovacion</servlet-name>
        <url-pattern>/CreaRenovacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarLicSoft</servlet-name>
        <url-pattern>/EliminarLicSoft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarLicSoft</servlet-name>
        <url-pattern>/EditarLicSoft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaLicSoft</servlet-name>
        <url-pattern>/CreaLicSoft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLicSoftware</servlet-name>
        <url-pattern>/AddLicSoftware</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepAreaSoft</servlet-name>
        <url-pattern>/RepAreaSoft</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>RepAreaSoftware</servlet-name>
        <url-pattern>/RepAreaSoftware</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ReporteLicArea</servlet-name>
        <url-pattern>/ReporteLicArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteLicSof</servlet-name>
        <url-pattern>/ReporteLicSof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exportar</servlet-name>
        <url-pattern>/Exportar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarArea</servlet-name>
        <url-pattern>/ExportarArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarInv</servlet-name>
        <url-pattern>/ExportarInv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaRegis</servlet-name>
        <url-pattern>/CreaRegis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortalOsiris</servlet-name>
        <url-pattern>/PortalOsiris</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipo</servlet-name>
        <url-pattern>/AddEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Horarios</servlet-name>
        <url-pattern>/Horarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solicitud</servlet-name>
        <url-pattern>/Solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteServiciosTiempo</servlet-name>
        <url-pattern>/ReporteServiciosTiempo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultar</servlet-name>
        <url-pattern>/Consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tramitar</servlet-name>
        <url-pattern>/Tramitar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historial</servlet-name>
        <url-pattern>/Historial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes</servlet-name>
        <url-pattern>/Reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detalle</servlet-name>
        <url-pattern>/Detalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_Horario</servlet-name>
        <url-pattern>/Editar_Horario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>correcto</servlet-name>
        <url-pattern>/correcto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarLicSoft</servlet-name>
        <url-pattern>/ActualizarLicSoft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaSol</servlet-name>
        <url-pattern>/ActualizaSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta_Asign</servlet-name>
        <url-pattern>/Consulta_Asign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta_Solic</servlet-name>
        <url-pattern>/Consulta_Solic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consulta_Usuario</servlet-name>
        <url-pattern>/Consulta_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrar</servlet-name>
        <url-pattern>/Administrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActInvent</servlet-name>
        <url-pattern>/ActInvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrar_Sol</servlet-name>
        <url-pattern>/Administrar_Sol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaUsuario</servlet-name>
        <url-pattern>/ActualizaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaEquipo</servlet-name>
        <url-pattern>/CreaEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaMarcaAJ</servlet-name>
        <url-pattern>/ConsultaMarcaAJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaEquipo</servlet-name>
        <url-pattern>/ActualizaEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaCaractAJ</servlet-name>
        <url-pattern>/ConsultaCaractAJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaVersionSoft</servlet-name>
        <url-pattern>/ConsultaVersionSoft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAprobar</servlet-name>
        <url-pattern>/VerAprobar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoSoftHard</servlet-name>
        <url-pattern>/NuevoSoftHard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaResponsable</servlet-name>
        <url-pattern>/ActualizaResponsable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepInventario</servlet-name>
        <url-pattern>/RepInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConUser</servlet-name>
        <url-pattern>/ConUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarEquipo</servlet-name>
        <url-pattern>/AprobarEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCaract</servlet-name>
        <url-pattern>/EliminarCaract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarProc</servlet-name>
        <url-pattern>/IniciarProc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraMantenimiento</servlet-name>
        <url-pattern>/RegistraMantenimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConSerialRedir</servlet-name>
        <url-pattern>/ConSerialRedir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegNovedad</servlet-name>
        <url-pattern>/RegNovedad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaSoftware</servlet-name>
        <url-pattern>/ConsultaSoftware</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>null//10.1.1.55:</description>
        <res-ref-name>jdbc/registro</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
    
   <context-param>
        <param-name>authority</param-name>
        <param-value>https://login.microsoftonline.com/</param-value>
    </context-param>
    <context-param>
        <param-name>tenant</param-name>
        <param-value>pruebacorreoescuelaingeduco.onmicrosoft.com</param-value>
    </context-param>
    <context-param>
        <param-name>client_id</param-name>
        <param-value>3821a0d9-a3df-46ce-b096-177cd1044ad2</param-value>
    </context-param>
    <context-param>
        <param-name>secret_key</param-name>
        <param-value>APN8Q~DNKBR6tD11jSToHr6Be.ObD5Of.IJfGbHm</param-value>
    </context-param>
    <context-param>
        <param-name>obo_client_id</param-name>
        <param-value>obo_client_id</param-value>
    </context-param>
    <context-param>
        <param-name>obo_secret_key</param-name>
        <param-value>obo_secret_key</param-value>
    </context-param>
    <context-param>
        <param-name>obo_application_id_uri</param-name>
        <param-value>obo_application_id_uri</param-value>
    </context-param>
    <context-param>
        <param-name>ca_protected_api_id_uri</param-name>
        <param-value>ca_protected_api_id_uri</param-value>
    </context-param>
    <filter>
        <filter-name>BasicFilter</filter-name>
        <filter-class>com.microsoft.aad.adal4jsample.BasicFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BasicFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>
